# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
Projects/2/Documentation/_minted
Projects/2/Documentation/Project1Documentation.aux
Projects/2/Documentation/Project1Documentation.fdb_latexmk
Projects/2/Documentation/Project1Documentation.fls
Projects/2/Documentation/Project1Documentation.log
Projects/2/Documentation/Project1Documentation.synctex.gz
Projects/2/Documentation/Project1Documentation.toc
Projects/2/Documentation/texput.fls
Projects/2/Documentation/texput.log
Projects/2/demo
Projects/2/tests

# Latex Files
*.aux
*.fls
*.out
*.synctex.gz
*.fdb_latexmk
*.log
Final/tests
